{{extend 'master-layout.html'}}

<div class="addAccount">
  <h1>Add Account</h1>
  <form action="{{=URL('save')}}" method="post">
    <div class="textbox">
      <input type="text" name="account_name" placeholder="Account Name">
    </div>

    <div class="textbox">
      <input type="text" name="account_number" placeholder="Account Number">
    </div>

    <div class="textbox">
      <input type="text" name="bank" placeholder="Bank">
    </div>

    <div class="textbox">
      <input type="text" name="branch" placeholder="Branch">
    </div>

    <div>
      <input class="btn" type="submit" value="Add Account">
    </div>
  </form>
</div>
