<link rel="stylesheet" href="{{=URL('static','css/styles.css')}}"/>


<form action="" method="post">
  <div>
    <label for="account_name">Account Name</label>
    <input type="text" name="account_name">
  </div>

  <div >
    <label for="account_number">Account Number</label>
    <input type="text" name="account_number">
  </div>

  <div>
    <label for="bank">Branch</label>
    <input type="text" name="Bank">
  </div>

  <div>
    <label for="branch">Branch</label>
    <input type="text" name="Branch">
  </div>

  <div>
    <input type="submit" value="Add Account">
  </div>
</form>
